[Unit]
Description=EMS22A calibrated daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/slenk/DriftApp
ExecStart=/usr/bin/python3 /home/slenk/DriftApp/ems22d_calibrated.py
Restart=always
User=slenk
# Variables d'environnement
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
